<a href="https://colab.research.google.com/github/ghm8614/Python/blob/main/12_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12 Pandas

## 1) Series

In [ ]:
# 1.값 직접입력
import pandas as pd
score = [23,123,4,534,12,122]
s = pd.Series(score)
print(s) # index가 자동 생성되고. series를 구성하는 데이터 형태와 값도 출력됨

In [ ]:
# 2.자동출력되는 인덱스에 값을 넣는 법
import pandas as pd 
score = [23,123,4,534,12,122]
name = ['철수','일형','수창','원정','진동','균재']
s = pd.Series(score, index = name) #index안써도됨
print(s) #dictionary에서 key-value와 비슷

In [ ]:
# 3.dictionary 이용하는 법
dic = {'철수':23,'일형':123,'수창':4,'원정':534,'진동':12,'균재':122}
d = pd.Series(dic)
print(d)

In [ ]:
# series를 이용한 산술연산
# 같은 index명끼리 연산이 이루어짐. index는 그대로, value값만 연산됨

import numpy as np
name1 = np.array(['철수','일형','수창','원정','진동','균재'])
score1 = np.array([20,2,4,50,10,1])
name2 = np.array(['균재','원정','수창','일형','진동','철수'])
score2 = np.array([4,100,3,5,10,2])

s1 = pd.Series(score1, index=name1)
#print(s1)
s2 = pd.Series(score2, index=name2)
#print(s2)

#print(s1+s2) #index위치는 다르지만, 같은 index끼리 연산이 이루어짐
(s1+s2)//2

균재     2
수창     3
원정    75
일형     3
진동    10
철수    11
dtype: int64

In [ ]:
# value값에 접근 ->  index명 or index번호 모두로 접근가능
print(s2['균재'])
print(s2[0])

# list의 기능인 슬라이싱도 사용가능
print(s2[3:5]) # 3~(5-1)
print(s2['일형':'철수']) # 이때는 철수까지 포함. index번호와다름

In [ ]:
# 값 추가 -> index명으로 추가 , index번호는 제한이있음
s2['진균']=1
# index가 내가명시한어떤값으로 저장되있을경우, 대괄호안에 꼭같은형태를 입력후 추가해야함.
# 이럴경우에, index번호로 값을 추가할수없음
# 하지만 index번호로 되있을경우, index로 추가가능

In [ ]:
# 값 수정 -> index명과 index번호 모두로 수정가능
s2['진균']= 44
s2
s2[6] = 33
s2

In [ ]:
# 값 삭제 -> index명으로 삭제, index번호는 제한이있음
# 값 추가와 마찬가지임.
del s2['진균']
s2

In [ ]:
# 논리연산과 filtering -> 변수에 식을 넣고 filtering!
x = s2 > 30
x

s2[x] # 값이 true인것만 출력됨

원정    100
dtype: int64

### 실습 1 : 성적데이터를 Series로 만들기

In [ ]:
# input으로 입력받은 ilst의 item들을 어떻게 int로 변환할 것인가
# 어떻게 합을 구현해 낼 것인가
# pd.Series() 생성시, 괄호안에 colums값을 왜 못주는가, 왜 value와 index값만 넣을수있는가
# 출력결과에서 datatype만 있으면 Series, name과datatype 같이 있으면 DataFrame

import pandas as pd

names = input('학생들의 이름 입력(,로 구분):').split(',')
score_kor = input('학생들의 국어성적 입력(,로 구분):').split(',')
score_eng = input('학생들의 영어성적 입력(,로 구분):').split(',')
score_math = input('학생들의 수학성적 입력(,로 구분):').split(',')

# 하나하나 int로 타입변환하는 과정
# score_kor = list(map(int,score_kor))  -> for문대신 map함수도 가능
score_kor = [int(i) for i in score_kor] 
score_eng = [int(i) for i in score_eng] 
score_math = [int(i) for i in score_math] 

series_kor = pd.Series(score_kor,names)
series_eng= pd.Series(score_eng,names)
series_math= pd.Series(score_math,names)
series_sum=series_kor+series_eng+series_math

print()
print('국어성적')
print(series_kor)
print('영어성적')
print(series_eng)
print('수학성적')
print(series_math)
print('합계')
print(series_sum)

학생들의 이름 입력(,로 구분):영희,철수,미나
학생들의 국어성적 입력(,로 구분):20,20,40
학생들의 영어성적 입력(,로 구분):40,20,80
학생들의 수학성적 입력(,로 구분):15,65,95

국어성적
영희    20
철수    20
미나    40
dtype: int64
영어성적
영희    40
철수    20
미나    80
dtype: int64
수학성적
영희    15
철수    65
미나    95
dtype: int64
합계
영희     75
철수    105
미나    215
dtype: int64

## 2) DataFrame 1

In [ ]:
# DataFrame생성 -> 1. Series를 이용하여 합치기
import pandas as pd
name1 = np.array(['철수','일형','수창'])
score1 = np.array([70,80,99])
name2 = np.array(['수창','일형','철수'])
score2 = np.array([88,86,59])

s1 = pd.Series(score1, index=name1) #Series 생성
s2 = pd.Series(score2, index=name2)

d = pd.DataFrame() # 빈 dataframe생성
d['국어'] = s1
d['수학'] = s2
d['합'] = d.국어 + d.수학 # = d['국어]+d['수학]
d

    국어  수학    합
철수  70  59  129
일형  80  86  166
수창  99  88  187

In [ ]:
# DataFrame생성 -> 2. 데이터를 직접 넣음(index와 columns 없을때)
import pandas as pd

score = [[70,59,129],[80,86,166],[99,88,187]]
d1 = pd.DataFrame(score)
d1

    0   1    2
0  70  59  129
1  80  86  166
2  99  88  187

In [ ]:
# DataFrame생성 -> 3. 데이터를 직접 넣음(index와 columns 있을때)
score = [[70,59,129],[80,86,166],[99,88,187]]
name = ['철수','일형','수창']
lecture = ['국어', '수학','합']
d2 = pd.DataFrame(score,index=name,columns=lecture)#index,columns 빼도 같은값
print(d2)

    국어  수학    합
철수  70  59  129
일형  80  86  166
수창  99  88  187

In [ ]:
# DataFrame의 index 변경 -> dataframe의객체.index = ['~~']
score = [[70,59,129],[80,86,166],[99,88,187]]
d1 = pd.DataFrame(score)
print(d1)

d1.index = ['학생1','학생2','학생3']
d1

    0   1    2
0  70  59  129
1  80  86  166
2  99  88  187

      0   1    2
학생1  70  59  129
학생2  80  86  166
학생3  99  88  187

In [ ]:
# DataFrame의 index 변경 -> rename 함수사용(원본객체 유지시켜줌)
# d1.rename(index={'학생1':'철수'}) #이대로 출력시, 철수로 반환됨
# d1 #을 다시출력시 원래대로 돌아가있음. rename함수는 원본객체는 그대로 유지시켜줌
print(d1)
d1.rename(index={'학생1':'파이썬','학생2':'너무','학생3':'어렵다'},inplace=True)
d1

In [ ]:
# DataFrame의 column 변경 -> DataFrame객체.columns = list
d1.columns = ['파이썬','쉽지','않다']
d1

     파이썬  쉽지   않다
파이썬   70  59  129
너무    80  86  166
어렵다   99  88  187

In [ ]:
# DataFrame의 column 변경 -> rename 함수사용(원본객체 유지시켜줌)
d1.rename(columns={'파이썬':'python','쉽지':'할만','않다':'하다'})

     python  할만   하다
파이썬      70  59  129
너무       80  86  166
어렵다      99  88  187

In [ ]:
# DataFrame의 column(열) 변경
d1.rename(columns={'과목1':'국어','과목2':'수학','과목3':'영어'},inplace = True)
print(d1)
a = ['수학','영어','국어']
d1[a]

In [ ]:
# DataFrame의 행, 열 삭제 ->drop함수
d1
d1.drop('학생3',axis=0) #학생3 행 삭제됨

In [ ]:
# DataFrame의 행값 수정 ->index명과 번호 모두가능
d1.loc['학생2'] = ['23','23','23']
d1.iloc[1] = ['11','11','11']
d1

### 실습

In [ ]:
#답안1 -  map함수 사용
#배열안의 각각의 숫자문자열을 어떻게 int로 전부 변환할것인가
import pandas as pd

names = input('학생들의 이름 입력(,로 구분):').split(',')

score_kor = input('학생들의 국어성적 입력(,로 구분):').split(',')
score_eng = input('학생들의 영어성적 입력(,로 구분):').split(',')
score_math = input('학생들의 수학성적 입력(,로 구분):').split(',')

score_kor = list(map(int,score_kor))
score_eng = list(map(int,score_eng))
score_math = list(map(int,score_math))

series_kor = pd.Series(score_kor,index=names)
series_eng = pd.Series(score_eng,index=names)
series_math = pd.Series(score_math,index = names)

d = pd.DataFrame()
d['국어'] = series_kor
d['영어'] = series_eng
d['수학'] = series_math
d['합계']= d.sum(axis=1) 
d

학생들의 이름 입력(,로 구분):철수,영희,미영
학생들의 국어성적 입력(,로 구분):90,80,80
학생들의 영어성적 입력(,로 구분):80,80,90
학생들의 수학성적 입력(,로 구분):70,89,88

    국어  영어  수학   합계
철수  90  80  70  240
영희  80  80  89  249
미영  80  90  88  258

In [ ]:
#답안2 - for문 사용
#배열안의 각각의 숫자문자열을 어떻게 int로 전부 변환할것인가
import pandas as pd

names = input('학생들의 이름 입력(,로 구분):').split(',')

score_kor = input('학생들의 국어성적 입력(,로 구분):').split(',')
score_eng = input('학생들의 영어성적 입력(,로 구분):').split(',')
score_math = input('학생들의 수학성적 입력(,로 구분):').split(',')

#배열안의 모든 문자열을 하나씩 숫자로 타입변환
score_kor = [int(i) for i in score_kor] 
score_eng = [int(i) for i in score_eng] 
score_math = [int(i) for i in score_math] 

d = pd.DataFrame(index=names)
d['국어'] = score_kor
d['영어'] = score_eng
d['수학'] = score_math
d['합계']= d.sum(axis=1) #세로축은 열을 추가하므로 axis=1
d

학생들의 이름 입력(,로 구분):철수,영희,영미
학생들의 국어성적 입력(,로 구분):80,78,89
학생들의 영어성적 입력(,로 구분):80,80,70
학생들의 수학성적 입력(,로 구분):79,68,57

    국어  영어  수학   합계
철수  80  80  79  239
영희  78  80  68  226
영미  89  70  57  216

## 3) DataFrame 2

In [ ]:
# DataFrame의 부분정보 선택(index,columns,value만확인이필요할때) 
import pandas as pd

score = [[70,59,129],[80,86,166],[99,88,187]]
name = ['철수','일형','수창']
lecture = ['국어','영어','수학']
d = pd.DataFrame(score,index=name,columns=lecture)
print(d)

print()
print(d.index)
print()
print(d.columns)
print()
d.values

    국어  영어   수학
철수  70  59  129
일형  80  86  166
수창  99  88  187

Index(['철수', '일형', '수창'], dtype='object')

Index(['국어', '영어', '수학'], dtype='object')

array([[ 70,  59, 129],
       [ 80,  86, 166],
       [ 99,  88, 187]])

In [ ]:
# DataFrame의 특정 열 선택 -> 세개 모두가능
print(d)
print()
print(d['국어'])
d[['국어','영어']] #대괄호 필수..

    국어  영어   수학
철수  70  59  129
일형  80  86  166
수창  99  88  187

철수    70
일형    80
수창    99
Name: 국어, dtype: int64

    국어  영어
철수  70  59
일형  80  86
수창  99  88

In [ ]:
# DataFrame의 특정 행 선택 ->index명과 번호
print(d)
print()
d[1:]
d.iloc[0:1]
d.iloc[0,0]
#d['철수':]

    국어  영어   수학
철수  70  59  129
일형  80  86  166
수창  99  88  187

70

In [ ]:
# DataFrame의 특정 열과행 동시에 선택
d['국어']['철수':'수창']
d['국어'][0:2]

철수    70
일형    80
Name: 국어, dtype: int64

In [ ]:
# input으로 입력받은 ilst의 item들을 어떻게 int로 변환할 것인가
# 어떻게 합을 구현해 낼 것인가
# pd.Series() 생성시, 괄호안에 colums값을 왜못주는가, 왜 value와 index값만 넣을수있는가
# 출력결과에서 datatype만 있으면 Series, name과datatype 같이 있으면 DataFrame

import pandas as pd

names = input('학생들의 이름 입력(,로 구분):').split(',')
score_kor = input('학생들의 국어성적 입력(,로 구분):').split(',')
score_eng = input('학생들의 영어성적 입력(,로 구분):').split(',')
score_math = input('학생들의 수학성적 입력(,로 구분):').split(',')

# 하나하나 int로 타입변환하는 과정
# score_kor = list(map(int,score_kor))  -> for문대신 map함수도 가능
score_kor = [int(i) for i in score_kor] 
score_eng = [int(i) for i in score_eng] 
score_math = [int(i) for i in score_math] 

series_kor = pd.Series(score_kor,names)
series_eng= pd.Series(score_eng,names)
series_math= pd.Series(score_math,names)
series_sum=series_kor+series_eng+series_math

print()
print('국어성적')
print(series_kor)
print('영어성적')
print(series_eng)
print('수학성적')
print(series_math)
print('합계')
print(series_sum)

학생들의 이름 입력(,로 구분):영희,철수,미나
학생들의 국어성적 입력(,로 구분):20,20,40
학생들의 영어성적 입력(,로 구분):40,20,80
학생들의 수학성적 입력(,로 구분):15,65,95

국어성적
영희    20
철수    20
미나    40
dtype: int64
영어성적
영희    40
철수    20
미나    80
dtype: int64
수학성적
영희    15
철수    65
미나    95
dtype: int64
합계
영희     75
철수    105
미나    215
dtype: int64

## 실습 2 : Dataframe 부분 정보 선택

In [ ]:
from google.colab import files
myfile = files.upload()

Saving gapminder.tsv to gapminder (5).tsv

In [ ]:
# 행과 행/열 출력은 무조건 iloc사용해라! -> df.iloc[행들, 열들]
import pandas as pd
df=pd.read_csv('gapminder.tsv',sep='\t')
df['country']
df[['country','continent','year']] #여러개행을 출력하려면 대괄호한번더
df.iloc[0] 
df.iloc[[2,4,6]]    # = df.iloc[2:7:2]
df.iloc[[3,4,5]]    # = df.iloc[3:6]
df.iloc[[7,8,9,10],[0,3,5]]  # = df.iloc[7:11,[0,3,5]]
df.iloc[[1,3,5],[0,1,4]]   # = df.iloc[1:6:2,[0,1,4]]

       country continent       pop
1  Afghanistan      Asia   9240934
3  Afghanistan      Asia  11537966
5  Afghanistan      Asia  14880372

## 실습 3 : 성적데이터를 DataFrame으로 만들기

In [ ]:
# 합계와 평균을 어떻게 구현할 것인가 
# 1. (열과 행 추가를 어떻게 할 것인가. 특히 행!!)  2. (평균값을 어떻게 오류나지않게 출력할것인가)
# 검색한 학생의 성적정보를 어떻게 출력할것인가

#iloc = 숫자인덱싱 ,  loc = 이름인덱싱
import pandas as pd

names = input('학생들의 이름 입력(,로 구분):').split(',')
score_kor = input('학생들의 국어성적 입력(,로 구분):').split(',')
score_eng = input('학생들의 영어성적 입력(,로 구분):').split(',')
score_math = input('학생들의 수학성적 입력(,로 구분):').split(',')

score_kor = [int(i) for i in score_kor]
score_eng = [int(i) for i in score_eng] 
score_math = [int(i) for i in score_math] 

series_kor = pd.Series(score_kor,index=names)
series_eng = pd.Series(score_eng,index=names)
series_math = pd.Series(score_math,index = names)

d= pd.DataFrame(index = names)
d['국어'] = series_kor
d['영어'] = series_eng
d['수학'] = series_math
d['합계'] = d.sum(axis = 1)    #  d[' '] -> (axis=1)
d.loc['평균'] = (d.sum(axis = 0))//len(names)   #  d.loc[' '] -> (axis=0)
print(d)

search_student = input('검색할 학생 이름은? ')
print(d.loc[search_student])

학생들의 이름 입력(,로 구분):영희,철수,미미
학생들의 국어성적 입력(,로 구분):40,60,80
학생들의 영어성적 입력(,로 구분):30,70,90
학생들의 수학성적 입력(,로 구분):70,80,98
    국어  영어  수학   합계
영희  40  30  70  140
철수  60  70  80  210
미미  80  90  98  268
평균  60  63  82  206
검색할 학생 이름은? 미미
국어     80
영어     90
수학     98
합계    268
Name: 미미, dtype: int64

## 실습 4 : DataFrame으로 만들어 정렬하기

In [ ]:
# 정렬식을 if문에 적용할 수 있는가
import pandas as pd

names = input('학생들의 이름 입력(,로 구분):').split(',')
score_kor = input('학생들의 국어성적 입력(,로 구분):').split(',')
score_eng = input('학생들의 영어성적 입력(,로 구분):').split(',')
score_math = input('학생들의 수학성적 입력(,로 구분):').split(',')

score_kor = [int(i) for i in score_kor]
score_eng = [int(i) for i in score_eng] 
score_math = [int(i) for i in score_math] 

series_kor = pd.Series(score_kor,index=names)
series_eng = pd.Series(score_eng,index=names)
series_math = pd.Series(score_math,index = names)

d1= pd.DataFrame(index = names)
d1['국어'] = series_kor
d1['영어'] = series_eng
d1['수학'] = series_math
d1['합계'] = d1.sum(axis = 1)
print(d1)

criteria = input('정렬 기준 선택(1:국어, 2;영어, 3:수학, 4:합계):')
type = input('정렬 방법 선택(1:오름차순,2:내림차순')

if criteria == '1':
  criteria = '국어'
elif criteria == '2':
  criteria = '영어'
elif criteria == '3':
  criteria = '수학'
else :
  criteria = '합계'

if type == '1':
  type = True
else:
  type = False

d1.sort_values(by = criteria,ascending = type)

학생들의 이름 입력(,로 구분):영희,철수,미미
학생들의 국어성적 입력(,로 구분):40,50,70
학생들의 영어성적 입력(,로 구분):30,70,90
학생들의 수학성적 입력(,로 구분):40,70,89
    국어  영어  수학   합계
영희  40  30  40  110
철수  50  70  70  190
미미  70  90  89  249
정렬 기준 선택(1:국어, 2;영어, 3:수학, 4:합계):4
정렬 방법 선택(1:오름차순,2:내림차순1

    국어  영어  수학   합계
영희  40  30  40  110
철수  50  70  70  190
미미  70  90  89  249

## 실습 5 : DataFrame으로 고객 추출하기

In [ ]:
# 어떤 반복문을 어떻게 사용할것인가
# 빈list를 생성하고, 그 list에 입력받은 값들을 어떻게 차곡차곡 넣을것인가
# 어떻게 filtering해서 원하는 값만 골라 출력할것인가
import pandas as pd

names=[]
infos=[]

while True:
  customer_name = input('고객의 이름: ')
  if customer_name == ' ':
    break
  customer_gender = input('고객의 성별(남/여): ')
  customer_age = int(input('고객의 나이: '))
  customer_ocupation = input('고객의 직업(학생/직장인/자영업/전문직/기타): ')
  info = [customer_gender,customer_age,customer_ocupation]
  names.append(customer_name)
  infos.append(info)

a = ['성별', '나이', '직업']
d = pd.DataFrame(infos,names,a)

x = (d.성별 =='여')
d1 = d[x]
x = (d.나이 >= 60)
d2 = d1[x]

x = (d.직업=='학생')
d3 = d[x]

x = (d.나이>=30)
d4 = d[x]
x = (d.나이<50)
d5 = d4[x]


print('-------------------------------')
print('고객명단')
print(d)
print('-------------------------------')
print('나이가 60 이상이 여성 고객 명단: ')
print(d2)
print('-------------------------------')
print('직업이 학생인 고객 명단: ')
print(d3)
print('-------------------------------')
print('30,40대 고객 명단: ')
print(d5)

고객의 이름: 김철수
고객의 성별(남/여): 남
고객의 나이: 60
고객의 직업(학생/직장인/자영업/전문직/기타): 전문직
고객의 이름: 김미영
고객의 성별(남/여): 여
고객의 나이: 62
고객의 직업(학생/직장인/자영업/전문직/기타): 기타
고객의 이름: 이수지
고객의 성별(남/여): 여
고객의 나이: 20
고객의 직업(학생/직장인/자영업/전문직/기타): 학생
고객의 이름: 홍길동
고객의 성별(남/여): 남
고객의 나이: 32
고객의 직업(학생/직장인/자영업/전문직/기타): 직장인
고객의 이름: 이철
고객의 성별(남/여): 남
고객의 나이: 45
고객의 직업(학생/직장인/자영업/전문직/기타): 자영업
고객의 이름:
-------------------------------
고객명단
    성별  나이   직업
김철수  남  60  전문직
김미영  여  62   기타
이수지  여  20   학생
홍길동  남  32  직장인
이철   남  45  자영업
-------------------------------
나이가 60 이상이 여성 고객 명단:
    성별  나이  직업
김미영  여  62  기타
-------------------------------
직업이 학생인 고객 명단:
    성별  나이  직업
이수지  여  20  학생
-------------------------------
30,40대 고객 명단:
    성별  나이   직업
홍길동  남  32  직장인
이철   남  45  자영업

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.